<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="footer">
    <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
    <!-- Email -->
    <a href="mailto:nicyscaria@iisc.ac.in" aria-label="Send Email">
        <i class="fas fa-envelope"></i>
    </a>

     <!-- GitHub -->
     <a href="https://github.com/nicyscaria" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
        <i class="fab fa-github"></i>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/nicy-scaria" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
        <i class="fab fa-linkedin-in"></i>
    </a>



    <!-- Twitter -->
    <a href="https://twitter.com/nicy_scaria" target="_blank" rel="noopener noreferrer" aria-label="Twitter Profile">
        <i class="fab fa-twitter"></i>
    </a>

    
</div> 
