<div class="home-hero">
  <div class="home-hero__grid">
    <div>
      <p class="home-hero__eyebrow">PhD Scholar &middot; Computational &amp; Data Sciences, IISc Bengaluru</p>
      <h1 class="home-hero__name">Nicy Scaria</h1>
      <p class="home-hero__thesis">Reliable Language Model Systems for Educational Assessment and Personalized Adaptive Learning.</p>
      <p class="home-hero__focus">{{ page.focus }}</p>
      <div class="home-hero__actions">
        <a class="btn" href="/publications/">Publications</a>
        <a class="btn btn--inverse" href="mailto:nicyscaria@iisc.ac.in">Get in touch</a>
      </div>
    </div>
    <div class="home-hero__photo">
      <img src="/images/profilepic_nicy1.png" alt="Nicy Scaria">
    </div>
  </div>
</div>