---
layout: default
---

{% include home-hero.html %}

<section class="home-section" id="about">
  <div class="home-about">
    <ul class="home-facts">
      <li><span class="k">Institution</span>{{ page.institution }}</li>
      <li><span class="k">Lab</span><a href="{{ page.lab_url }}">{{ page.lab }}</a></li>
      <li><span class="k">Advisor</span><a href="{{ page.advisor_url }}">{{ page.advisor }}</a></li>
      <li><span class="k">Focus</span>{{ page.focus }}</li>
    </ul>
    <div>
      <div class="home-about__bio">
        {{ content }}
      </div>
    </div>
  </div>
</section>